.destinations{
    display: inline-block;
    color: var(--cor01);
    padding: 0 2%;
    font-weight:700;
    margin-top: 55px;
    max-width: 1020px;
}
.spotlighth1{
    font-size: 1.4em;
}
.spotlighth1{
    margin: 15px 0;
    font-size: 1.2em;
    color: var(--cor04);
}
.list{
    list-style-position: inside;
    color: wheat;
    font-size: 1.1em;
}
.list li{
    margin-bottom: 5px;
}